# Compiled class file
dbdiffchecker/*.class

# build data
build/*
!build/logs/.gitkeep
!build/lib/.gitkeep

# test data
test/*
!test/logs/.gitkeep
!test/images
!test/dbdiffchecker/.gitkeep

#logs
logs/*
!logs/.gitkeep