# Compiled class file
dbdiffchecker/*.class

# build data
build/*
!build/.gitkeep
build/logs/*
build/lib/*
!build/logs/.gitkeep
!build/lib/.gitkeep

# test data
test/*
test/logs/*
test/Images/*
!test/logs/.gitkeep
!test/Images/.gitkeep
!test/dbdiffchecker/.gitkeep